<!DOCTYPE html>
<html>
  <head>
    <h1>Blog System</h1>
  </head>
  <body>
    <button>
      CREATE NEW POST
    </button>
    <table>
      <tr>
        <p>
          test
        </p>
      </tr>
    </table>
    <p>Find me in app/views/main/home.html.erb</p>
  </body>
</html>
